<style>
   .product-button {
         display: inline-block;
         padding: 15px 25px;
         background-color: #000000;
         color: #fff;
         text-decoration: none;
         border-radius: 5px;
         font-size: 16px;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         justify-content: center;   
         width: 180px;
         height: 40px;
         text-align: center;
   }
   .product-image {
      height: 300px;
      margin-bottom: 40;
   }
   .product_image{
      height: 200px;
      margin-bottom: 40;
   }
</style>
<!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Products</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">

                        {{#each Products}} 
                         <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <div class="product-image">
                              <figure><img src="images/Case.png" alt="#"/></figure>
                              </div>
                              <a class="product-button" href="./{{Name}}">{{Name}}</a>
                           
                           </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <div class="product-image">
                              <figure><img src="images/Laptop.png" alt="#"/></figure>
                              </div>
                              <a class="product-button" href="./Laptop">Laptop</a>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <div class="product-image">
                              <figure><img src="images/Mouse.png" alt="#"/></figure>
                              </div>
                              <a class="product-button" href="./Mouse">Mouse</a>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <div class="product_image">
                              <figure><img src="images/product7.png" alt="#"/></figure>
                              </div>
                              <a class="product-button" href="./Ram">Ram</a>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <div class="product_image">
                              <figure><img src="images/VGA.jpg" alt="#"/></figure>
                              </div>
                              <a class="product-button" href="./VGA">VGA</a>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <div class="product_image">
                              <figure><img src="images/product6.png" alt="#"/></figure>
                              </div>
                              <a class="product-button" href="./Hardisk">Hardisk</a>
                           </div>
                        </div> --}}
                        <div class="col-md-12">
                           <a class="read_more" href="#">See More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->