<section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span>Computer And Laptop</span>
                                 <h1>Accessories</h1>
                                 <p>Computer and laptop accessories are additional components or peripherals that can enhance the functionality, performance, and convenience of your computer or laptop setup </p>
                                 <a href="Products">Buy Now </a> <a href="Contact">Contact </a>
                              </div>
                           </div>
                           <div class="col-xl-3">
                              <div class="text_img">
                                 <figure><img src="images/accessories.png" aria-hidden="true" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span>Every Computer and laptop</span>
                                 <h1>Up to 40% off</h1>
                                 <p>This is a special price with vouchers for current hot products of the store. Super promotion worth up to 40% </p>
                                 <a href="Products">Buy Now </a> <a href="Contact">Contact </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img1">
                                 <figure><img src="images/pct.png" alt="#"/></figure> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span>New products come out</span>
                                 <h1>With the Hot Deal</h1>
                                 <p> With great configuration and 14'' FHD IPS LCD screen
                                    CPU i7-1280p - DDR516GB
                                    VGA Intel Iris Xe Graphics
                                    SSD 512GB </p>
                                 <a href="Products">Buy Now </a> <a href="Contact">Contact </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img2">
                                 <figure><img src="images/2.jpg" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- three_box -->
      <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="images/thr.png" alt="#"/></i>
                     <h3>Computer</h3>
                     <p>Computers are electronic devices that process and store data, perform calculations, and execute various tasks using a combination of hardware and software components.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="images/thr1.png" alt="#"/></i>
                     <h3>Laptop</h3>
                     <p>
                        Laptops, also known as notebooks, are portable computers designed for personal and professional use. They provide users with the flexibility to work, browse the internet, communicate, and perform various tasks while on the go. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="images/thr2.png" alt="#"/></i>
                     <h3>Tablet</h3>
                     <p>Tablets are portable computing devices that bridge the gap between smartphones and laptops. They offer a lightweight and compact form factor with a touchscreen interface, making them suitable for various tasks such as browsing the internet, reading e-books, watching videos, playing games, and running apps. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- three_box -->
      <!-- products -->
      <!-- customer -->
      <div class="customer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Customer Review</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="images/rùa.png" alt="#"/></i>
                                          <h4>Phúc Nhẫn</h4>
                                          <p>I have been using the MSI-F63 laptop for a short time and I want to share many great points with everyone. I like the design of the product. It looks very chic and modern, with soft curves and high-quality materials. The screen is large and sharp, allowing me to enjoy multimedia content at its best. The device is also very light and handy, making it easy for me to take anywhere.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="images/Bình.jpg" alt="#"/></i>
                                          <h4>Thanh Bình</h4>
                                          <p>I recently upgraded my computer's RAM and it made a noticeable difference in its overall performance. The increased amount of RAM has dramatically improved the speed and responsiveness of my system. And I think you should buy at this store because there will be a warranty for your device to avoid technical errors when you buy it, but you also receive many incentives.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="images/Tỷ.jpg" alt="#"/></i>
                                          <h4>Tỷ Phạm</h4>
                                          <p>I recently bought and installed a new hard disk drive (HDD) in this store for my computer, and I'm extremely satisfied with its performance. The storage capacity of the HDD is impressive, allowing me to store a large amount of data, including movies, music, documents, and photos without any issues. The read and write speeds are quite good, ensuring quick access to my files and reducing loading times for applications and games. </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="images/Nghĩa.png" alt="#"/></i>
                                       <h4>Nghĩa Ngô</h4>
                                       <p>I am very satisfied with this product. First, its quality is excellent. The product is made of high-quality materials, providing a solid and durable feel. The screen is sharp and colors are true, allowing me to enjoy beautiful pictures and videos.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
          <!-- end customer -->