 <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>SHOWROOM UIT SYSTEM</h2>
                     <p>A place to experience and buy high-end technology equipment. Here will definitely give you the best experience and service. </p>
                     <a class="read_more" href="#">Read More</a>
                  </div>
               </div>
               <div class="col-xl-7">
                  <div class="about_img">
                     <figure><img src="images/Store.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end about section -->