<style>
.product {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px auto;
}
.product-container {
         margin: 20px auto;
         max-width: 1000px;
         height: 500px;
         padding: 20px;
         border: 1px solid #ccc;
         border-radius: 5px;
         background-color: #f9f9f9;
         text-align: center;
         display: flex;
         /* Center the content */
}
.product-image {
   width: 300px;
   height: 300px;
   display: flex;
   align-items: left;
   justify-content: left;
   overflow: hidden;

}

.product-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   display: flex;
   flex-direction: column;
   justify-content: left;   
}

.product-details {
   width: 300px;
   height: 360px;
   margin-left: 50;
}

.product-name {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 10px;
   text-align: center;
}

.product-specifications {
   margin-bottom: 10px;
   color: #000000;
   text-align: center;
}

.product-specifications p {
   margin: 5px 0;
}

.product-price {
   font-weight: bold;
   margin-top: 10px;
   color: #e67e22;
   text-align: center;
}

.product-warranty {
   margin-top: 5px;
   text-align: center;
}


.product-button {
         display: inline-block;
         padding: 10px 20px;
         background-color: #2980b9;
         color: #fff;
         text-decoration: none;
         border-radius: 5px;
         font-size: 16px;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         justify-content: center;   
         width: 180px;
         height: 40px;
         text-align: center;
         
      }

      .product-button:hover {
         background-color: #1c7dbe;
      }

   </style>


<div class="product-container">
         <div class="product">
            <div class="product-image">
               <img src="images/Computer(ROG STRIX).jpg" alt="Product Image">
            </div>
            <div class="product-details">
               <h3 class="product-name">ROG Strix 3070</h3>
               <div class="product-specifications">
                  <p>CPU: I5-11400F</p>
                  <p>RAM: 8X2 XPG D50</p>
                  <p>SSD: SAMSUNG NVME 980 PLUS</p>
                  <p>VGA: 3070 ROG STRIX</p>
                  <p>PSU: COOLER MASTER 750W</p>
                  <p>CASE: XIGMATEK AQUARIUS M</p>
               </div>
               <p class="product-price">Price: 18,000,000d</p>
               <p class="product-warranty">Warranty: 36 months</p>
               <a class="product-button" href="#">Order Product</a>
            </div>
         </div>
      </div>
      <div class="product-container">
         <div class="product">
            <div class="product-image">
               <img src="images/Computer(TUF GAMING).jpg" alt="Product Image">
            </div>
            <div class="product-details">
               <h3 class="product-name">TUF GAMING 3060TI</h3>
               <div class="product-specifications">
                  <p>CPU: I7-13600K</p>
                  <p>RAM: 8X2 VULCANZ D50</p>
                  <p>SSD: KINGTONS NVME 980 PLUS</p>
                  <p>VGA: 3060TI TUF GAMING</p>
                  <p>PSU: COOLER MASTER 650W</p>
                  <p>CASE: NZXT AQUARIUS M</p>
               </div>
               <p class="product-price">Price: 24,000,000d</p>
               <p class="product-warranty">Warranty: 36 months</p>
               <a class="product-button" href="#">Order Product</a>
            </div>
         </div>
      </div>
      <div class="product-container">  
         <div class="product">
            <div class="product-image">
               <img src="images/Computer(ULTRA GAMINGX).jpg" alt="Product Image">
            </div>
            <div class="product-details">
               <h3 class="product-name">ULTRA GAMINGX 3080</h3>
               <div class="product-specifications">
                  <p>CPU: I9-13600K</p>
                  <p>RAM: 8X2 VULCANZ D50</p>
                  <p>SSD: ADATA NVME 980 PLUS</p>
                  <p>VGA: 3080 ULTRA GAMINGX</p>
                  <p>PSU: XIGMATEK THOR 850W</p>
                  <p>CASE: NZXT H5 FLOW</p>
               </div>
               <p class="product-price">Price: 30,000,000d</p>
               <p class="product-warranty">Warranty: 36 months</p>
               <a class="product-button" href="#">Order Product</a>
            </div>
         </div>
      </div>
      <div class="product-container">
         <div class="product">
            <div class="product-image">
               <img align="left" height="200" src="images/Computer(SAPHIRE NITROX).jpg" alt="Product Image">
            </div>
            <div class="product-details">
               <h3 class="product-name">SAPHIRE NITROX 3090</h3>
               <div class="product-specifications">
                  <p>CPU: I5-13600K</p>
                  <p>RAM: 8X2 VULCANZ D50</p>
                  <p>SSD: ADATA NVME 980 PLUS</p>
                  <p>VGA: 3090 SAPHIRE NITRO</p>
                  <p>PSU: COSAIR 850W</p>
                  <p>CASE: NZXT H510 FLOW</p>
               </div>
               <p class="product-price">Price: 27,500,000d</p>
               <p class="product-warranty">Warranty: 36 months</p>
               <a class="product-button" href="#">Order Product</a>
            </div>
         </div>
      </div>
      <div class="product-container">
         <div class="product">
            <div class="product-image">
               <img src="images/Computer(RED DEVIL).jpg" alt="Product Image">
            </div>
            <div class="product-details">
               <h3 class="product-name">RED DEVIL RX6700XT</h3>
               <div class="product-specifications">
                  <p>CPU: I9-19600K</p>
                  <p>RAM: 8X2 CORSAIR DOMINATOR WHITE PRO</p>
                  <p>SSD: SAMSUNG NVME 980 PLUS</p>
                  <p>VGA: RX6700XT RED DEVIL</p>
                  <p>PSU: COSAIR 1000W</p>
                  <p>CASE: NZXT ULTRAFLOW</p>
               </div>
               <p class="product-price">Price: 40,500,000d</p>
               <p class="product-warranty">Warranty: 36 months</p>
               <a class="product-button" href="#">Order Product</a>
            </div>
         </div>
      </div>